body{
    background-color:rgb(0, 238, 255);
}
main>section{
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 7px;
}

main>section>article{
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}
nav>ul>li{
    display: inline;
}

.section-one{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.section-one>article{
    width: 90%;
    background-color:darkgreen;
    color: white;
}
.section-one>article:hover{
    width: 90%;
    background-color: blue;
    color: rgb(red, green, blue);
}

.main-content{
    display: flex;
    flex-direction:row;
}
@media  screen and (max-width: 800px) {
    .main-content{
        background-color:rgb(4, 128, 0);
        flex-direction: column;
    }
    .section-one>article:hover{
    height: 300%;
    background-color:blue;
    color: rgb(red, green, blue);
}
.section-one{
    width: 80%;
}
    
}